{% extends 'base.html' %}
{% load static %}
{% block title %} {{ product.name }} {% endblock %}

{% block stylesheet %}

{% endblock %}



{% block content %}
<div class="row">
    <div class="col-lg-6">
        <a href="#" id="demo-trigger" class="magnifiable zoomable" data-medium-url="{{ product.image.url }}" data-large-url="{{ product.image.url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="width: 100%; height: 400px; margin-top: 25px; margin-bottom: 10px">
        </a>
    </div>
    <div class="col-lg-6" style="margin-top: 25px; margin-bottom: 10px">
        <h1>{{ product.name }}</h1>
    <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
    <p>${{ product.price }}</p>
    <form action="{% url 'cart:cart_add' product.id %}" method="POST">
      {{ cart_product_form }}
      {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to cart</button>
    </form>
    <h3>Descriptions</h3>
        <p>{{ product.description|safe }}</p>
    </div>
</div>


    <h3 class="well" style="background-color: #fb4f59">Related Product</h3>
    <div class="row">
    {% for r in related %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 25px;">
            <div class="hovereffect">
                <img class="img-responsive" src="{% if r.image %}{{ r.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" style="height: 100%; width: 100%;">
                <div class="overlay">
                   <h2><a href="{{ r.get_absolute_url }}">{{ product.name }}</a></h2>
                   <a class="info" href="{{ r.get_absolute_url }}">View Detail</a>
                </div>
            </div>
            <p>Price:  ৳ {{ product.price }}</p>
        </div>
    {% endfor %}
</div>



{% endblock %}




{% block script %}


{% endblock %}

